{% extends 'newsletter/email-base.html.twig' %}

{% block content %}

                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-6 columns first">
                            <table>
                              <tr>
                                <th>
                                  <h4>Sub Section Title</h4>
                                  <p>{{newsletterContent}}</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-6 columns last">
                            <table>
                              <tr>
                                <th>
                                  <h4>Sub Section Title</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>


{% endblock %}