{% extends 'base.html.twig' %}

{% block title %}Désinscription{% endblock %}

{% block body %}

<div class="sucess-page__wrapper">
    <p class="centered thanks">Nous sommes tristes de vous voir partir !</p>
    <div class="success-container">
        <p>Vous êtes désinscrit de la newsletter</p>
    </div>
</div>

{% endblock %}
