/* ************************************************* MEDIA QUERIES : MOBILE ************************************************* */

@media screen and (max-width: 768px){

    *{
        box-sizing: border-box;
       }
    
    /* ***************TO TOP BUTTON********** */
        .top-button{
            display: none;
        }
    
    /************BURGER MENU (ICON) SPAN = LINES -> CROSS ***********/
    
          .burger {
            width: 32px;
            z-index: 20;
            position:absolute;
            top:3vh;
            right:1vh;
        }
        
        .burger span {
            width: 100%;
            height: 4px;
            background-color: rgb(255, 255, 255);
            border-radius: 12px;
            display: block;
            transition: 0.5s ease-in-out;
        }
        
        .burger span::before,
        .burger span::after {
            content: "";
            width: 100%;
            background-color: rgb(255, 255, 255);
            display: block;
            transition: all 0.5s ease-in-out;
            border-radius: 12px;
            height: 4px;
        }
        
        .burger span::before {
            transform: translateY(-10px);
        
        }
        
        .burger span::after {
            transform: translateY(10px);
            margin-top: -4px;
        }
        
        .burger.active span {
            background-color: transparent;
        }
        
        .burger.active span::before {
            transform: rotateZ(45deg) translateY(0);
        }
        
        .burger.active span::after {
            transform: rotateZ(-45deg) translateY(0);
        }


    /***************** BASE + HOME PAGE *************/

    header{
        max-width: 100%;
        margin:0 0 10vh 0;

        .header__wrapper{
            padding:0;
        }

        .header__container-right{
            display: none;
        }

        .header__container-left{

            #logo{
                width:60%;
            }

            #logo-text{
                display: block;
            }

            a{
                display: block;
                width:50%;
                text-align: left;
                margin: 1vh 0 1vh 2vh;
            }
        }

        .nav{
            width:100%;
            display: none;
            position:absolute;
            top:0;
            margin:0;
            z-index: 20;

            .nav__container{
                width: 100%;
                position:absolute;
                top:0;
                margin:0;
                padding:5vh 10vh;
                display: flex;
                flex-direction: column;

                a{
                    display: block;
                    margin: auto;
                    padding:2vh;
                }

                .cart,.user-account{
                    display: block;
                }
            }
        }
    }
    
    .top-button{
        display: none !important;
    }

    #home-wrapper{
        max-width: 100%;

        .parallax, .parallax2{
            margin:2vh 0 0 0 ;
            /* background-attachment: scroll; */

            p{
                font-size: 1em;
                width:80%;
            }
        }
        #permanent-section, #ephemeral-section{
            margin:0;

            .title-container{
                padding:10vh 0 0 0;

                h2{
                    font-size: 2em !important;
                }
            }
            h3{
                font-size: 1.5em;
            }

            .carousel{
                .group{
                    animation:scrolling 30s linear infinite;
                }
            }

            .seeAll-link{
                font-size: 1.5em;
            }
        }
    }

    footer{
        max-width: 100%;

        .newsletter__container{
            display: block;
            background-image: none !important;
            height:fit-content;
            padding:2rem;
            width: 100% !important;
     
            p{
                display: block;
            }

            form{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .footer__wrapper-main-container{
            margin:0;
            padding:0;
            font-size: 1em;

            .footer__wrapper-container{
                display: block;
                margin: 3vh auto;

                span{
                    display: block;
                    font-family: "bebas neue" !important;
                    font-weight: 600;
                }

                a{
                    display: block;
                    padding:1vh 1vh
                }

                .icons-container{
                    gap:0.3rem;
                }
            }
        }
    }
/***************** PRODUCTS PAGE *************/
    #beers-title{
        display: block !important;
    }
    .banner > :first-child{
        padding : 0.4em !important;
        animation: none !important;
        display: block !important;
        letter-spacing: 0 !important;
        white-space: normal !important;
        font-size: 0.8em !important;
    }
    .products__page-wrapper{
        padding: 0 !important;
        display: block !important;
    }
    .products__sidebar{
        /* position: relative !important;
        width: 90% !important;
        padding: 0 !important;
        display: block !important;
        margin: auto !important;
        border: none !important; */
        display: none;
    }

    .search-form{
        /* width: fit-content !important;
        margin:0 !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        gap: 2rem;
        justify-content: center; */
        display: none;
    }

    .reset-button{
        display: none !important;
    }

    .sidebar__container{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-evenly !important;
        font-size: 1.2em !important;
    }
    .products__container{
        width: 100% !important;
        display: flex;
        justify-content: center !important;
        flex-direction: column;
    }

    .product-card{
        font-size: 1em !important;
        width: 80% !important;
        margin: auto !important;
        display: block !important;
    }

/**************************** CART */
    .cart-page-wrapper{
        padding: 0 !important;
        
        .main-container{
            padding: 0 !important;
            display: block;
        }

        thead{
            display: none;
        }

        td{
            padding:0.2rem !important;
        }
    }

/**************************** PAYMENT STEP 1 (INFO) */
    .identification-page{
        padding:0.3rem !important;

        h2{
            font-size: 1.8em;
        }
    }

    .idenification-form,.groups-wrapper{
        display: block !important;
    }

    .agreeTerms-group{
        margin:0 !important;
    }

/**************************** PAYMENT STEP 2 (PICK UP) */
    .pickUpPage-page{
        padding:0.3rem !important;

        h1{
            font-size: 1.8em;
        }

        h4{
            font-size: 1.5em !important;
        }
    }    
    .options-container{
        display: block !important;
        margin:0 !important;
    }

    .option-container{
        width: 100% !important;
        margin: 1rem auto;

        h2{
            font-size: 1.8em;
            text-align: center;
        }

        h3{
            display: none;
        }

        table{
            width:100% !important;
            margin:0 !important;

            th{
                display: none;
            }
        }
    }

    #pick_up_point_form_establishmentName{
        margin: 0.5rem !important;
        label{
            font-size: 1.3em !important;
        }
    }

    .choose-btn{
        margin:1rem auto !important;
    }
/**************************** PAYMENT STEP 3 (RECAP) */
    .recap-wrapper{
        padding:0.3rem !important;

        .choose-btn{
            width: auto;
        }
    }

    #recap-table{
        width: 100% !important;

        td{
            width: auto !important;
            padding:0.3rem !important;
        }

        th{
            font-size: 1.2em !important;
        }

        .total-recap,.total-recap-amount{
            font-size: 1.2em !important;
        }
    }

/**************************** PAYMENT SUCCESS */
    .success-container{
        font-size:1.5em !important;
        padding: 1rem 2rem !important;
        justify-content: center !important;

        img{
            width:25% !important;
        }
    }
  
    .confirmed{
        font-size: 1.2em !important;
        text-align: center;
    }

/**************************** LOGIN / REGISTRATION PAGES */
    .login-page, .registration-page{
        padding:0.3rem !important;
        display: block !important;

        .vertical-line{
            display: none;
        }
    }

    .title{
        font-weight: 400;
    }

    .login-title{
        font-size: 2em;
    }

    #login__login-section{
        padding:0.3rem !important;

        a{
            margin:1rem !important;
        }

        form{
            .register-login-btn{
                margin:0.5rem auto;
            }
        }
    }

    .login-section{
        margin: 0 auto 2rem auto;
        width:90%;
        text-align:center;

        .register-login-btn{
            margin:0.5em auto;
        }

        h3{
            font-weight: 400 !important;
        }
    }

    .registration-section{
        padding:0 !important;

        h2{
            font-size: 2em !important;
            text-align: center !important;
        }

        input{
            width: 100%;
        }

        #registration_form_agreeTerms{
            width:auto !important;
        }
    }

    .registration-form{
        .register-login-btn{
            margin: 1.5rem auto !important;
        }
    }

    /**************************** USER ACCOUNT PAGE */

    .user-profile__main{
        padding:0.3rem !important;
        display: flex !important;
        flex-direction: column;
    }
    #side-container{
        display: flex;
        flex-direction: column;
        gap:1rem;
        padding:1rem;
        order:2;
    }

    #main-container{
        padding:0.3rem;
        order:1;

        h2{
            margin: auto;
        }

        .orders-list{
            grid-template-columns: 1fr 1fr 1fr;
            margin:0.5rem auto;
        }

        .bills-links{
            flex-direction: row;
        }

        .bills-list{
            display: flex;
            justify-content: space-between;
            margin:0.5rem auto;
        }
    }
}