/* ************************************************* MEDIA QUERIES : MOBILE ************************************************* */

@media screen and (max-width: 768px){

    *{
        box-sizing: border-box;
       }
    
    /* ***************TO TOP BUTTON********** */
        .top-button{
            display: none;
        }
    
    /************BURGER MENU (ICON) SPAN = LINES -> CROSS ***********/
    
          .burger {
            width: 32px;
            z-index: 20;
            position:absolute;
            top:3vh;
            right:1vh;
        }
        
        .burger span {
            width: 100%;
            height: 4px;
            background-color: rgb(255, 255, 255);
            border-radius: 12px;
            display: block;
            transition: 0.5s ease-in-out;
        }
        
        .burger span::before,
        .burger span::after {
            content: "";
            width: 100%;
            background-color: rgb(255, 255, 255);
            display: block;
            transition: all 0.5s ease-in-out;
            border-radius: 12px;
            height: 4px;
        }
        
        .burger span::before {
            transform: translateY(-10px);
        
        }
        
        .burger span::after {
            transform: translateY(10px);
            margin-top: -4px;
        }
        
        .burger.active span {
            background-color: transparent;
        }
        
        .burger.active span::before {
            transform: rotateZ(45deg) translateY(0);
        }
        
        .burger.active span::after {
            transform: rotateZ(-45deg) translateY(0);
        }


    /***************** BASE + HOME PAGE *************/

    header{
        max-width: 100%;
        margin:0 0 10vh 0;

        .header__wrapper{
            padding:0;
        }

        .header__container-right{
            display: none;
        }

        .header__container-left{

            #logo{
                width:30%;
            }

            a{
                display: block;
                width:50%;
                text-align: left;
                margin: 1vh 0 1vh 2vh;
            }
        }

        .nav{
            width:100%;
            display: none;
            position:absolute;
            top:0;
            margin:0;
            z-index: 20;

            .nav__container{
                width: 100%;
                position:absolute;
                top:0;
                margin:0;
                padding:5vh 10vh;
                display: flex;
                flex-direction: column;

                a{
                    display: block;
                    margin: auto;
                    padding:2vh;
                }

                .cart,.user-account{
                    display: block;
                }
            }
        }
    
    }

    #home-wrapper{
        max-width: 100%;

        .parallax, .parallax2{
            margin:2vh 0 0 0 ;
            /* background-attachment: scroll; */

            p{
                font-size: 1em;
                width:80%;
            }
        }
        #permanent-section, #ephemeral-section{
            margin:0;

            .title-container{
                padding:10vh 0 0 0;

                h2{
                    font-size: 2em !important;
                }
            }
            h3{
                font-size: 1.5em;
            }

            .carousel{
                .group{
                    animation:scrolling 30s linear infinite;
                }
            }

            .seeAll-link{
                font-size: 1.5em;
            }
        }
    }

    footer{
        max-width: 100%;

        .newsletter__container{
            display: block;
            background-image: none !important;

            p{
                display: block;
            }

            form{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .footer__wrapper-main-container{
            margin:0;
            padding:0;
            font-size: 1em;

            .footer__wrapper-container{
                display: block;
                margin: 3vh auto;

                span{
                    display: block;
                    font-family: "bebas neue" !important;
                    font-weight: 600;
                }

                a{
                    display: block;
                    padding:1vh 1vh
                }

                .icons-container{
                    gap:0.3rem;
                }
            }

        }
    }
/***************** PRODUCTS PAGE *************/
.banner > :first-child{
    padding : 0.4em !important;
    animation: none !important;
    display: block !important;
    letter-spacing: 0 !important;
    white-space: normal !important;
}
.products__page-wrapper{
    padding: 0 !important;
    display: block !important;
}
.products__sidebar{
    position: relative !important;
    width: 90% !important;
    padding: 0 !important;
    display: block !important;
    margin: auto !important;
    border: none !important;
}

.search-form{
    width: fit-content !important;
    margin:0 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    gap: 2rem;
    justify-content: center;
}

.sidebar__container{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    font-size: 1.2em !important;
}
  .products__container{
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
  }

  .product-card{
    font-size: 1em !important;
    width: 80% !important;
    margin: auto !important;
    display: block !important;
  }

}