{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="home-wrapper">

    <div class="parallax"><p>Brasserie locale et artisanale, La brasserie Sainte Cru est née à Sainte-Croix-en-Plaine en 2012. Installée à Colmar depuis 2013, nous brassons désormais une <strong>gamme permanente disponible toute l’année</strong> et une <strong>gamme éphémère renouvelée chaque mois</strong>, disponible jusqu’à épuisement du stock</p></div>

    <section id="permanent-section">
        <h1 id="permanent-title">les permanentes</h1>
        <h3>disponibles toute l'année</h3>

    <!-- Slider main container -->
        <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="/img/beerCan.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/colorful.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/beerCan.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/colorful.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/beerCan.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/colorful.webp" alt=""></div>
            </div>  

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <a href=""></a><div class="seeAll-link__container"><p>tout voir</p><img id="icone-doubleArrowRight" src="/icones/doubleArrowRight.svg" alt=""></div></a>

    </section>

    <section id="ephemeral-section">
        <h1 id="ephemeral-title">les éphémères</h1>
        <h3>disponibles jusqu’à épuisement du stock</h3>

    <!-- Slider main container -->
        <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="/img/beerCan.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/colorful.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/beerCan.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/colorful.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/beerCan.webp" alt=""></div>
            <div class="swiper-slide"><img src="/img/colorful.webp" alt=""></div>
            </div>  

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </section>

</div>
{% endblock %}
