{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
<main class="user-profile__main">
    <div id="side-container">
        <a href=""><i class="fa-solid fa-heart"></i> Mes favoris</a>
    </div>

    
        <div id="main-container">
            <h3>Informations du compte</h3>
            <p id="personal-info">Email : <span class="bold">{{user.email}}</span></p>
            <h3>Mes commandes passées</h3>
            {% if user.orders is not empty %}
                {% for order in user.orders %}
                    <p>Commande du {{ order.dateOfPlacement|date('d-m-Y') }} <i class="fa-regular fa-circle-right"></i></p>
                {% endfor %}
            {% else %}
                    <p class="centered">Vous n'avez pas de commande</p>
            {% endif %}
            
        </div>
    </main>



{% endblock %}
