<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Vérifier mon e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
