{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <main class="reset-password__main">
        <h1>Réinitialisez votre mot de passe</h1>

        {{ form_start(requestForm) }}
            
            <div>
                <small>
                    Entrez votre adresse email et nous vous enverrons un lien de réinitialisation de votre mot de passe.
                </small>
            </div>
            {{ form_row(requestForm.email) }}
            <button class="delete-accountButton">Envoyer l'email</button>
        {{ form_end(requestForm) }}
    </main>
{% endblock %}
