<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Stats</title>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  </head>

  <body>
    <div>
      <canvas id="myChart" aria-label="Graphique qui montre les produits les plus vendus durant chaque mois de l'année en cours" role="img">Your browser does not support the canvas element.</canvas>
    </div>

    <script>
      const ctx = document.getElementById('myChart').getContext('2d');
      const productsChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: {{ labels|json_encode()|raw }},
              datasets:  {{ datasets|json_encode()|raw }},
          },
          options: {
              responsive: true,
              plugins: {
                  title: {
                      display: true,
                      text: 'Ventes de produits par mois'
                  },
                  legend: {
                      position: 'top',
                  },
              },
              scales: {
                  x: {
                      beginAtZero: true
                  },
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    </script>
    
  </body>
</html>




{# Label (x-axis): Product Name
Value (y-axis): Number of Sales (quantity sold)
Month: Each set of bars for a product will correspond to a specific month. #}

{# x-axis labels: Product names
y-axis values: Number of sales (or quantity sold)
Datasets: One dataset for each month (12 datasets, one for each month)
 #}

