{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
<p>
    Produits : <br>
    > Ajouter un nouveau Produit <br>
    > Modifier un produit existant <br>
    > Désactiver un produit <br>

    Utilisateurs : <br>

    TVA : <br>
    > Ajouter un taux de TVA <br>
    > Modifier un taux existant <br>
    > Supprimer un taux existant <br>

    Newslette : <br>
    > Rédiger une nouvelle newsletter <br>
    > Modifier une newsletter existante <br>
    > Supprimer une newsletter existante <br>
</p>
{% endblock main %}