{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}



{% block body %}

    {% for product in products %}
        <p>{{product.productName}} {{product.productPrice}}</p>
    {% endfor %}
{% endblock %}
