@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Fredoka:wght@300..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Fredoka:wght@300..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* **************************************************************** GENERAL ************************************************************ */

:root{
    --white:#FCFCFC;
    --blue:#2E5BFF;
    /* --black:#191919; */
    /* --main:#2b2e2b; */
    --main:#242426;
    --black:#242426;
    --light-grey:#D9D9D9;
    --ultra-light-grey:#f4f4f4;
    --dark-grey:#7E8286;
    --red:#6D1919;
    --green:#5DE571;
    --light-background:#F5F3F1;

    font-size: 1rem;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color:var(--white);
    position:relative;
    min-height: 100vh;
    padding-bottom:500px;
    font-family: "Bebas Neue", serif;
}

.btn:hover{
    cursor: pointer;
    color:var(--white);
    background-color: var(--green);
}

.checkbox{
    display: flex;
}

h1{
    font-size: 2.8em;
}

h2{
   font-size:2.5em; 
}

h3{
    font-size:1.5em;
}

.title{
    font-family:"Anton SC", serif;
}

a{
    text-decoration: none;
}

.centered{
    text-align: center;
}

/* **************************************************************** BASE ************************************************************ */

/* *************************HEADER************************* */

.header__wrapper{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main);
    padding:1em 0 0.5em 2em;
}

.header__container-right{
    display: flex;
    gap:4em;
    align-items:end;
    
    padding:0 5rem 1rem 0; 
}

.header__container-right i{
    color:var(--white);
    font-size:1.5em;
    margin-right:1rem;
}

.header__container-right a:visited, .header__container-right a{
    color:var(--white);
    font-size:1.2em;
    display: flex;
    align-items: baseline;
}

.header__container-right a:hover,.header__container-right i:hover{
    text-decoration: none;
    color:var(--green);
    cursor: pointer;
}

.header__container-left{
    display: flex;
    align-items:center;
    gap:1rem;
}

#logo{
    width:10%;
}

#logo-text{
    color:var(--white);
    font-size:2em;
}

/* #nbItems{
    color:var(--white);
    font-family:"roboto condensed";
} */
/* *************************NAVBAR************************* */

.nav__container{
    width:80%; 
    margin:5rem auto 5rem auto;
    background-color: var(--main);
    padding:10px;
    display: flex;
    justify-content: space-around;
    border-radius:5px;
}

.nav__container-a{
    font-family: "Bebas Neue", serif;
    color:var(--white);
    font-size:1.5em;
    text-decoration: none;
}

.nav__container-a:hover,.nav__container-a:focus{
    cursor: pointer;
    color:var(--green);
    transform:scale(1.2);
    transition:0.1s;
}

.nav__container-a:active{
    transform:scale(0.8);
}

/* ************************* FOOTER ************************* */


footer{
    background-color:var(--black);
    width:100%;
    color:var(--white);
    padding: 0 0 2rem 0;
    position: absolute; bottom: 0; left:0; right:0;
    
}

.footer__wrapper-main-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin:2rem auto 3rem auto;
}

.footer__wrapper-container{
    display:flex;
    flex-direction:column;
    gap:0.8em;
    align-items: flex-start;
}

#contact,#find,#follow,#about{
    font-family:"Anton SC", serif;
    font-size:1em;
}

.footer__wrapper-container span{
    font-family: "Archivo Narrow", serif;
    font-size:1em;
}

.icons-container{
    display: flex;
}

footer small{
    font-family:"Archivo Narrow", serif;
}

.newsletter__container{
    width: 100%;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5em;
    background-color: var(--white);
    color: var(--main);
    background-image: url('/img/paperplane.webp');
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: 22%;
}

.newsletter__container p{
    font-family: "Anton SC", serif;
    font-size: 1.5em;
    margin-right: 1em;
}

.newsletter__container input{
    padding:0.3rem;
    border-radius: 5px;
    width:15%;
    height:3em;
    border:1px solid var(--light-grey);
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: .18s ease-out;
}

.newsletter__container input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }

.newsletter__container input:focus{
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
} 

.newsletter__container button{
    font-family: "Bebas Neue", serif;
    font-size: 1.3em;
    padding:0.5rem 0.5rem 0.4rem 0.5rem;
    background-color: var(--green);
    border-radius: 5px;
    color:var(--white);
    border:none;
    transition:0.3s ease-out;
}

.newsletter__container button:hover{
    box-shadow: var(--green) 0px 7px 29px 0px;
}

.newsletter__container button:active{
   padding:0.8rem;
}
.newsletter__container button:focus{
    /* A FAIRE */
}


/* **************************************************************** HOME PAGE ************************************************************ */
#home-wrapper h2,#home-wrapper h3{
    text-align: center;
}

.top-button{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index:99;
    border:none;
    border-radius: 100%;
    margin:0;
    width:5em;
    opacity:95%;
}

#icone-doubleArrowRight{
    width:2em;
}

#permanent-section,#ephemeral-section{
    margin:10rem;
}

.seeAll-link__container{
    display: flex;
    justify-content: flex-end;
}

.seeAll-link{
    display: flex;
    align-items: center;
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8em;
    color:var(--black);
}

.seeAll-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--green) ;
}

/* ************************* PARALLAX ************************* */
.parallax{
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position:bottom; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-image: url("/img/stecruDark.webp");
    background-position-y: -60px;
    min-height: 40vh; /* On fixe une grande hauteur pour voir plus facilement le scroll */
}

.parallax p{
    color:var(--white);
    font-size:1.3em;
    font-weight: 200;
    width:50%;
    margin:auto;
    font-family: "Roboto Condensed", serif;
    padding:3rem;
    line-height: 2em;
    text-align: center;
}

/* ************************* SWIPER ************************* */

.swiper {
    width: 100%;
    height: 45vh;
    margin: 2rem auto 2rem auto;
  }

   .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,.swiper-button-prev{
    color:var(--white);
  }


/* **************************************************************** REGISTER PAGE ************************************************************ */

.registration-page{
    display:flex;
    padding:3rem;
    width:100%;
}

.registration-section{
    flex-grow:4;
    padding-left: 10%;
}

.login-section{
    flex-grow:1;
}

.custom-input {
    height:3.5em;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 5px;
    font-size: 1em;
    border:none;
    box-shadow: var(--light-grey) 0px 3px 5px 0px inset;
}

.custom-input-register{
    width: 60%;
}

.vertical-line{
    border-left: 1px solid var(--light-grey); 
    height: 60vh; 
}

.register-login-btn{
    width:fit-content;
    padding:0.8rem;
    background-color: var(--black);
    color:var(--white);
    font-family: "Roboto Condensed", serif;
    font-size: 1.3em;
    font-weight:500;
    letter-spacing: 1px;
    border-radius:5px;
    border:none;
    margin:2em auto 0 auto;
}

.registration-terms{
    margin:2em;
}

.terms-container{
    display: flex;
    gap:0.5rem;
    margin-top:2rem;
    font-size:1.5em;
}

.registration-form label,.login-form label{
    display:block;
    font-size:1.5em;
    margin:1.5rem 0 1.5rem 0;
}

/* **************************************************************** LOGIN PAGE ************************************************************ */
.login-page{
    display: flex;
    padding:6rem;
    width:100%;
    justify-content: center;
}

#login__login-section, #login__register-section{
    display: flex;
    flex-direction: column;
    padding:3rem;
    margin:1.5rem;
}

#login__register-section{
    border-left:var(--light-grey) solid 1px;
}

#login__login-section{
    flex-grow:2;
}

#login__register-section{
    flex-grow:1;
    align-items: center;
}

.login-title{
    text-align: center;
}

.login-form{
    display: flex;
    margin: auto;
    width:100%;
    flex-direction: column;
}


/* **************************************************************** USER PROFILE ************************************************************ */

    .user-profile__main{
        font-family:'nunito';
        display:flex;
        gap:3rem;
        padding:1rem 6rem 1rem 0rem;

        h3{
            font-weight:400;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
            padding:0.5rem;
            border-radius:5px;
            width:90%;
        }
    }

    #main-container{
        flex-grow:2;

        p{
            margin:2rem 0;
        }
    }

    #personal-info{
        display:flex;
        gap:3rem;
    }

    #side-container{
        flex-grow:0.5;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            border:1px solid #5D39FE;
            color:var(--white);
            background-color:#5D39FE;
            width:fit-content;
            height: fit-content;
            padding:0.5rem 1rem;
            border-radius:100px;
            display: flex;
            gap:1rem;
            align-items: center;
            transition : 0.3s ease;
        }

        a:hover, a:focus{
            -webkit-box-shadow: 0px 0px 25px 0px rgba(93,57,254,1);
            -moz-box-shadow: 0px 0px 25px 0px rgba(93,57,254,1);
            box-shadow: 0px 0px 25px 0px rgba(93,57,254,1);
  
        }

        a:active{
            transform:scale(0.8);
        }
    }


/* **************************************************************** PRODUCTS/BEERS ************************************************************ */
.products__page-wrapper{
    display: flex;
    padding:0 3rem 0 3rem;
 
}

/* ************************* CUSTOM ALERT() ************************* */

.alertBox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.alertContent {
    background-color: var(--white);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    margin:auto;
    position: relative;
    top:50%;
    text-align:center;
}

.closeAlert {
    color:var(--red);
    text-align:right;
}

.closeAlert:hover,
.closeAlert:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alertMessage {
    color: var(--main);
    font-family:'nunito';
    font-size:1.5em;
}

/* ************************* PRODUCT CARD ************************* */
.products__container{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    gap:2rem;
    justify-content: center;
}

.product-card{
    width:30%;
    height: fit-content;
    padding:0.2rem;
    border: solid 1px rgb(240, 239, 239);
    box-shadow: rgba(110, 110, 110, 0.24) 0px 3px 20px;
    font-size:1.3em;
    border-radius: 1px;
    overflow: hidden;
    border-radius: 6px;
}

.product-card p{
    margin:0.3rem;
}

.picture-container{
    margin:1rem auto 1rem auto;
    width:100%;
    height:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;

    img{
        width:50%;
    }
}

.basket-btn{
    width:80%;
    margin: 2rem auto 1rem auto;
    display: block;
    padding:0.3rem;
    color:var(--black);
    border:none;
    border-radius: 5px;
    font-family: 'Bebas Neue','serif';
    font-size:1.3em;
}

/* ************************* SIDEBAR ************************* */

.products__sidebar{
    display: block;
    position: sticky;
    top:0;
    width:18%;
    border-right:1px solid var(--black);
    height: fit-content;
    padding-right:2rem;
}

.sidebar-container{
    margin-bottom:0.8rem;
}

.sidebar-container h3{
    /* font-family:'Anton sc'; */
    letter-spacing: 0.1rem;
}

.search-form{
    width:100%;
    margin:1rem 0 0 0;
}

#name{
    border-radius: 50px;
    border:2px solid var(--light-grey);
    padding:0.5rem;
}

.search-label{
    font-family: "Nunito", serif;
    font-size:0.8em;
}

.radio-button__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size:1.4em;
    margin:0.3rem 0 0.3rem 0;
}

.search-btn{
    margin: 1rem auto 1rem auto;
    width:100%;
    padding:0.3rem;
    background-color: var(--black);
    color:var(--white);
    font-size:1.5em;
    border-radius: 5px;
    border:none;
    font-family:'Bebas Neue','serif';
}

.reset-button{
    margin:1.5rem auto auto auto;
    display:block;
    width: fit-content;
    font-size:1.5em;
    border:var(--green) 1px solid;
    border-radius:5px;
    padding:0.3rem;
    color:#191919;
    /* font-family: "Nunito", serif; */
}

.reset-button:hover{
    background-color:var(--green);
}

/* **************************************************************** CART ************************************************************ */
.cart-page-wrapper{
    padding:3rem;
}

.cart-page-wrapper h1{
    text-align:center;
    margin-bottom:2rem;
}

.emptyCart__container{
    width:fit-content;
    margin:2rem auto 2rem auto;
   
}

.emptyCart{
    padding:1rem;
    width:fit-content;
    font-family: 'Roboto Condensed';
    font-size:1.5em;
    border:1px solid var(--main);
    border-radius:5px;
}

.redirection-link{
    padding:0.8rem;
    border:var(--main);
    color:var(--white);
    background-color: var(--main);
    border-radius:4px;
    font-size:1.5em;
    margin:2em auto 1em auto;
    display: block;
    width:fit-content;
    display: flex;
    gap:1rem;
}

.redirection-link:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .redirection-link:active,  .redirection-link:focus  {
    box-shadow: none;
    transform: translateY(0);
  }

/* ************************* QUANTITY INPUT ************************* */
.wrapper {
  display: flex;
  justify-content: center;
}

.quantity {
  display: flex;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity button {
  background-color: var(--light-grey);
  color: var(--black);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  width: 1.2em;
  height: 100%;
  text-align: center;
  transition: background-color 0.2s;
}

.quantity button:hover {
  background-color: var(--green);
}

.input-box {
  width: 3em;
  text-align: center;
  border: none;
  padding: 6px;
  outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* ************************* CART DETAIL SECTION ************************* */

   .main-container{
    display:flex;
    gap:5rem;
   }

   .detail-section{
    flex-grow:2;
   }

   .detail-section table{
    width:100%;
    border-bottom:1px var(--light-grey) solid;

        td{
            padding:3rem 1.5rem 3rem 1.5rem;
            font-family:'Roboto Condensed','serif';
            font-size: 1.1em;
            width:15%;

            .fa-trash{
                cursor:pointer;
            }
        }
   }

   .product-pic{
    width:50px;
   }

/* ************************* RECAP SECTION ************************* */

   .recap-section{
    flex-grow:1;
    min-width:25%;
   }

   .nbItems{
    font-family:'Roboto Condensed','serif';
    margin:1.5rem;
   }

   .price-container{
    display:flex;
    font-size:1.3em;
    flex-direction:row;
    justify-content:space-around;
    font-family:'Bebas Neue','serif';
   }

   .grey-paragraph{
    color:var(--dark-grey);
    font-family:'Roboto Condensed','serif';
    margin:1rem;
   }


/* **************************************************************** SIDE CART ************************************************************ */

   .cart-summary{
       display: none;
       width:20%;
       padding:1.5rem;
       position:absolute;
       z-index:1000;
       top:16vh;
       right:0;
       background-color:var(--light-background);
       font-family: 'roboto condensed';

       h2{
           font-family: 'bebas neue';
           text-align: center;
       }

       a{
           border:var(--green) solid 1px;
           padding:0.5rem;
           font-family: "bebas neue";
           font-size:1.3em;
           margin:1rem auto 1rem auto;
           display: block;
           width:fit-content;
           color:var(--black);
           border-radius:6px;
       }

       a:hover{
           background-color: var(--green);
       }
   }

   .visible{
       display: block;
   }
   .item-container{
       display: flex;
       align-items:center ;
       gap:0.5rem;
       padding:0.2rem;
   }

   .middle{
       justify-content: center;
   }

   .right{
       justify-content: flex-end;
       text-align: right;
   }

   .bold{
       font-weight:700;
   }

   .total{
       display: flex;
       justify-content: space-between;
       text-transform: uppercase;
   }

   article{
       padding:1.5rem 0;
       border-bottom: 1px solid var(--light-grey);
   }

   .product-qty{
       display: block;
   }


   .counter {
       display: inline-flex;
       height: 2em;
       border: 1px solid #e5e7eb;
       border-radius: 0.5rem;
       background: var(--white);

       .counter-display{
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 1em;
         }
         
         .counter-controls {
           display: flex;
           flex-direction: column;
           border-left: 1px solid var(--light-grey);
         }
         
         .control-button {
           display: flex;
           align-items: center;
           justify-content: center;
           width: 2em;
           cursor: pointer;
           border:none;
         }
         
         .control-button:hover {
           background-color: var(--green);
         }
         
         .control-button.increment {
           border-bottom: 1px solid var(--light-grey);
           border-top-right-radius: 0.5rem;
         }
         
         .control-button.decrement {
           border-bottom-right-radius: 0.5rem;
         }
     }
     
/* **************************************************************** DETAIL PRODUCT ************************************************************ */

.detail-product-main{
    padding:3rem;
    display: flex;
    justify-content: center;
    gap:4rem;
    align-items: center;
}

.stock-status{
    border:2px solid var(--green);
    width:fit-content;
    padding:0.3rem 0.5rem;
    border-radius:6px;
    margin:1rem auto 1rem auto;
    font-size:1em;
}

.available{
    color:var(--green);
}

.unavailable{
    color:var(--red);
}

.bold{
    font-weight:bold;
}

.pricing-card-section{
    border:1px solid var(--ultra-light-grey);
    width:25%;
    height: fit-content;
    padding-bottom:1rem;
    border-radius:6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    h1{
        width:100%;
        background-color: var(--main);
        border-radius: 2px;
        color:var(--white);
        margin:2rem auto ;
        padding:0.55rem 1.7rem 0.5rem 1.7rem ;
    }
}

.description{
    display: flex;
    flex-direction: column;
    padding:0.5rem;
    gap:1rem;

    width:90%;
    margin: 2rem auto;

    color:var(--main);
    font-family:"roboto condensed";
    font-size:1.1em;

    #product-description{
        font-family:"nunito";
        font-size:1.2em;
        margin:1rem;
    }

    .row{
        display: flex;
        justify-content: space-between;
    }
}

.price-tag{
    width:fit-content;
    padding:1rem;
    background-color:var(--green);
    color:white;
    font-size:2em;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position:relative;
    left:60%;
}


.basket-btn-green{
    width:fit-content;
    margin:2.5rem auto 2rem auto;
    display: block;
    padding:0.5rem 1rem;
    border-radius:20px;
    border:none;
    background-color: var(--black);
    border:var(--black) solid 1px;
    color:var(--white);
    font-size:1.3em;
    font-family:'bebas neue','serif';
    transition:0.4s ease;
}

.basket-btn-green:hover{
    background-color:var(--green);
    border:var(--green) solid 1px;

}

  /*---------------------------*/
.qty-wrapper{
    width:fit-content;
    margin:4rem auto 1rem auto;
}

.qty-wrapper p{
    font-family:'Nunito';
}

.qty-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin:0.5rem auto 1rem auto;
}
.qty-container .input-qty{
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus{
    border: 1px solid var(--main);
    padding: 5px;
    font-size: 0.8em;
    height: 30px;
    width: 30px;
    transition: 0.3s;
    color:var(--white);
    cursor: pointer;
}
.qty-container .qty-btn-plus{
    margin-left: -1px;
}
.qty-container .qty-btn-minus{
    margin-right: -1px;
}

.btn-rounded{
    border-radius: 50%;
    background-color: var(--main);
}

.btn-rounded:hover{
    background-color:var(--green);
    border:1px solid var(--green);
}

.input-rounded{
border-radius: 50px;
}

  /*---------------------------*/

.flip {
    position: relative;
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 30rem; /* SI HAUTEUR DE L'IMAGE, LARGEUR ICI*/
    width:30rem;
    perspective: 1000px;
}

.flip > .front {
    transform: rotateY(0deg);
    transform-origin: center;
}
.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    transform-origin: center;
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.8s;
    transition-property: transform, opacity;
    display: block;
    color: var(--black);;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 40rem; /* HAUTEUR DE L'IMAGE*/
    padding: 1em 2em;
    background: var(--white);
    border-radius: 10px;
    transform-origin: center;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  color: #999;
}


/* **************************************************************** PAYMENT STEP 1: IDENTIFICATION ************************************************************ */


.identification-page{
    padding:3rem 12rem 12rem 12rem;
}
.identification-form{
    display:block;
    margin:auto;
    width:65%;
}
.groups-wrapper{
    display:flex;
    gap:2rem;
    align-content:space-between;
}

.id-label{
    width:100%;
    font-size:1.5em;
    margin:1rem auto 1rem auto;
}

.identificationForm-group{
    display:flex;
    flex-direction:column;
    width:100%;
}

.agreeTerms-group{
    margin : 6rem auto 6rem auto;
    display: flex;
    gap:0.5rem;
}

.horizontal-line{
    border:1px solid var(--light-grey);
    margin-bottom:3rem;
}
.identification-btn{
    display:block;
    width:50%;
    margin: 1rem auto 1rem auto;
    width:60%;
    padding:0.3rem;
    background-color: var(--black);
    color:var(--white);
    font-size:1.5em;
    border-radius: 5px;
    border:none;
    font-family:'Bebas Neue','serif';
}

.identification-page p{
    text-align:center;
    width:fit-content;
    padding:0.3rem;
    background-color:var(--blue);
    color:var(--white);
    font-family:'nunito';
    font-size:1em;
    border-radius:2px;
    margin:auto;
}


/* **************************************************************** PAYMENT STEP 2: pick-up point ************************************************************ */

.pickUpPage-page{
    width:100%;
    padding:6rem;

    h3{
        font-family: 'bebas neue';
        font-size:1.5em;
        text-align: left;
        margin-top:2rem;
    }

    button {
    margin:4rem auto 0 auto;
    display: block;
    width:fit-content;
    background: var(--green);
    border: 1px solid var(--green);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: var(--white);
    cursor: pointer;
    font-weight:600;
    font-size: 1em;
    padding: 1rem;
    text-align: center;
    }

    button:hover,
    button:active,
    button:focus {
    background-color: initial;
    background-position: 0 0;
    color:var(--green);
    }

    button:active {
    opacity: .5;
    }

    a{
        width:fit-content;
        display: block;
        margin: 1rem auto 1rem auto;
        background-color:var(--main);
        color:white;
        padding:0.3rem;
        font-family: 'roboto condensed';
        transition:transform 0.3s ease
    }

    a:hover{
        transform: scale(1.3);
        
    }
}

.options-container{
    display: flex;
    gap:6rem;
    margin:3rem;
}

.option-container{
    width:90%;
    border: 1px solid var(--light-grey);
    font-family:'nunito';
    padding:1rem;
    border-radius:6px;

    table{
        width:80%;
        margin:1rem auto 2rem auto;

        th{
            width:100%;
            font-family: 'bebas neue';
            font-size:1.3em;
        }

        tr{ 
            width:100%;
            display: flex;
            justify-content: space-evenly;
            padding:0.5rem 1rem 0.5rem 1rem;
        }

        td{
            width:100%;
            display: flex;
            justify-content: space-evenly;
     
        }

        .colored{
            background-color: var(--ultra-light-grey);
        }

        .closed{
            color:var(--red);
            font-weight: 700;
        }
    }

    p{
        text-align: center;
    }
}

/* **************************************************************** RECAP BEFORE PAYMENT ************************************************************ */
    .recap-wrapper{
        width:100%;
        padding:6rem;

        a{
            margin:4rem auto 0 auto;
            display: block;
            width:15%;
            background: var(--main);
            border: 1px solid var(--main);
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            color: var(--white);
            cursor: pointer;
            font-weight:400;
            font-size: 1.7em;
            padding: 0.7rem 1rem;
            text-align: center;
            }
        
            a:hover,
            a:active,
            a:focus {
            background-color: initial;
            background-position: 0 0;
            color:var(--main);
            }
        
            a:active {
            opacity: .5;
            }
    }
    #recap-table{
        width : 60%;
        margin:auto;
        border-radius:6px;
        border-collapse:separate;
        border-spacing: 0 15px;

        th,td{
            text-align:center;
            width:30%;
        }
        
        .recap-item-row{
            background-color: #ffffff;
            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
            
        }
        
        th,.total-recap{
            font-family:'anton sc';
            font-size:1.5em;
            font-weight:200;
        }

        td{
            font-family : 'nunito';
            margin-top:2rem;
            padding:1rem;
      
        }

        .total-recap{
            text-align:right;
        }

        .recap-picture{
            width:15%;
            border-radius:100px;
            display:table-cell;
            margin:auto;
        }

        .large{
            font-size:1.3em;
        }
    }

/* **************************************************************** PAYMENT SUCCESS / PAYMENT ERROR ************************************************************ */

    .sucess-page__wrapper,.cancel-page__wrapper{
        padding:1rem;
        background-position-y: -30px;
    }

    .success-container,.cancel-container{
        display: flex;
        align-items: center;
        width: fit-content;
        margin: auto;
        font-size:2.5em;

        padding:1rem 5rem;
        border-radius:6px;
     
        box-shadow:var(--light-grey) 5px 2px 16px -3px;
        color:var(--main);
    }

    .cancel-container img{
        width:90px;
        margin:0.8rem;
    }

    .thanks,.confirmed,.oops{
        margin: 2rem 0 2rem 0;
    }

    .try-again{
        margin:3rem;
    }

    .thanks, .oops{
        font-size:2em;
    }

    .confirmed{
        font-family:'roboto condensed';
        font-size:1.3em;
    }

    .sucess-page__wrapper a,.cancel-page__wrapper a{
        margin:auto;
        display: block;
        width: fit-content;
        color:var(--main);
    }

    .sucess-page__wrapper span,.cancel-page__wrapper span{
        color:var(--blue)
    }

    .cancel-page__wrapper{
        .basket-btn{
            width:fit-content;
            display: flex;
            align-items: center;
            gap:1rem;
            background-color:var(--wite);
            border: 1px solid var(--ultra-light-grey);
            border-radius: .25rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
            color: rgba(0, 0, 0, 0.85);
            cursor: pointer;
            font-size: 1.5em;
            padding: 0.8rem;
            transition: all 250ms;
            }

            .basket-btn:hover,
            .basket-btn:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            }

            .basket-btn:hover {
            transform: translateY(-1px);
            }

            .basket-btn:active {
            background-color: #F0F0F1;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
            }

        }
    



