
/* *********************************************** GENERAL ************************************************ */
:root{
    --main:#242426;
    --blue:#2E5BFF;
    --white:#FCFCFC;
    --light-grey:#D9D9D9;
    --ultra-light-grey:#f4f4f4;
    --dark-grey:#424447;
    --red:#fc5959;
    --green:#5DE571;
    
}

.dark-mode p,.dark-mode h1,.dark-mode h2,.dark-mode h3,.dark-mode h4{
    color:var(--white);
}


.dark-mode{
    background-color: var(--main);
}

/* *********************************************** HOME PAGE ************************************************ */
.dark-mode #home-wrapper{
    h3{
        color:var(--green);
    }
}

.dark-mode .nav__container{
    border:1px solid var(--green);
}

.dark-mode .newsletter__container{
    background-color: #4a4b4d;
    border-radius:55px;
    width:50%;
    margin: auto;
    border:1px solid var(--green);

    .btn{
        color:var(--main);
    }
}

.dark-mode .newsletter__container p{
    color:var(--green);
}

/* *********************************************** LOGIN PAGE ************************************************ */
.dark-mode .login-page label{
    color:var(--white);
}

.dark-mode .login-page a{
    color:var(--white);
    font-family: 'nunito';
}

.dark-mode .login-page .register-login-btn{
    border: var(--green) 1px solid;
    color:var(--green);
}

.dark-mode .login-page .register-login-btn:hover{
    background-color: var(--green);
    color: var(--main);
}

/* *********************************************** REGISTER PAGE ************************************************ */
.dark-mode .registration-page{
    label{
        color:white;
    }

    .register-login-btn{
        border: 1px solid var(--green);
    }
}

/* *********************************************** BEERS PAGE ************************************************ */

.dark-mode .product-card{
    border:1px solid var(--green);

    .stock-info{
        color:var(--white);
    }

    .beer-price{
        background-color: var(--green);
        color:var(--main);
    }

    .plus,.minus{
        background-color: var(--green);
        border-color: var(--green);
    }

    .basket-btn{
        border:1px solid var(--green);
        box-shadow: var(--green) 0px 5px 15px;
    }
}

.dark-mode .products__sidebar .search-label{
    color:var(--white);
}

.dark-mode .reset-button{
    border:1px solid var(--green);
    color:var(--white);
}

.dark-mode .search-btn{
    border:1px solid var(--green);
}

/* *********************************************** BEER DETAIL ************************************************ */

.dark-mode .pricing-card-section{
    border-color: var(--green);
}

.dark-mode .btn-rounded:hover, .dark-mode .btn-rounded i:hover {
    color:var(--main);
}

.dark-mode .basket-btn-green{
    border:1px solid var(--green);
    box-shadow: var(--green) 0px 5px 15px;
}

.dark-mode .unavailable{
    color:#fc5959;
    border: 1px solid var(--red);
}

.dark-mode .price-tag p{
    color:var(--main);
}

/* *********************************************** SIDE CART ************************************************ */

.dark-mode .cart-summary{
    background-color: var(--main);
    border:1px solid var(--green);

    a{
        border:1px solid var(--green);
        box-shadow: var(--green) 0px 5px 15px;
    }
}

/* *********************************************** ADD TO CART ALERT ************************************************ */

.dark-mode .alertContent{
    border:1px solid var(--green);
    background-color: var(--main);
}

/* *********************************************** CART ************************************************ */

.dark-mode .cart-page-wrapper .main-container{
    color:var(--white);

    table{
        border-collapse: collapse;
    }
}

.dark-mode .recap-section .basket-btn{
    border:1px solid var(--green);
}

/* *********************************************** PAYMENT STEP 1 ************************************************ */

.dark-mode .identificationForm-group label, .dark-mode .agreeTerms-group{
    color:var(--white);
}

.dark-mode .identification-btn{
    border:1px solid var(--green);
}

/* *********************************************** PAYMENT STEP 2 ************************************************ */
.dark-mode .choose-btn{
    color:var(--main);
}

.dark-mode #pick_up_point_form label{
    color:var(--green);
}

/* *********************************************** PAYMENT STEP 3 ************************************************ */

.dark-mode #recap-table th, .dark-mode #recap-table .total-recap, .dark-mode .total-recap-amount{
    color:var(--white);
}

.dark-mode .recap-wrapper .choose-btn{
    background-color:var(--green);
    color: var(--main);
}

.dark-mode .recap-wrapper .choose-btn:hover{
    border:var(--green) 1px solid;
    color:var(--white);
    background-color: var(--main);
}

/* *********************************************** PAYMENT SUCCESS ************************************************ */
.dark-mode .success-page__wrapper a{
    color:var(--white);
}

/* *********************************************** PAYMENT CANCEL ************************************************ */

.dark-mode .cancel-page__wrapper {
    .basket-btn{
        color:var(--green);
        border: 1px solid var(--green);
    }

    .basket-btn:hover{
        box-shadow: var(--green) 0 4px 12px;
    }
}