{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}

<div class="cancel-page__wrapper">
    <p class="centered oops">oups, quelque chose s'est mal passé</p>
    <div class="cancel-container">
        <img src="/icones/cancel.webp" alt="Icône représent un rond ayant un fond rouge et une croix blanche"> 
        <p>Paiement annulé</p>
    </div>
    <p class="centered try-again">Veuillez réessayer</p>
    <a class="basket-btn">Retourner au panier <i class="fa-solid fa-circle-arrow-right"></i></a>
  
</div>




{% endblock %}
