{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}

<div class="sucess-page__wrapper">
    <p class="centered thanks">Merci pour votre commande !</p>
    <div class="success-container">
        <img src="/icones/success120.webp" alt="Icône représent un rond ayant un fond vert et une coche blanche"> 
        <p>Paiement réussi</p>
    </div>
    <p class="centered confirmed">Un e-mail de confirmation vous a été envoyé</p>
</div>

<a href="{{path('app_payment-checkout-bill')}}">ICCCCCCIIII</a>


{% endblock %}
