
{% for orderProduct in field.value %}
    {% if orderProduct.appProduct is not null %}
        <ul>
            <li>
                {{orderProduct.appProduct.productName}} - {{orderProduct.ProductPrice}} € HT
            </li>
        </ul>
    {% endif %}
{% endfor %}